# ignore .history directory that is created by vscode extension
/.history
*.venv
/scr/*
/tests/*
!/tests/test_ocr.py
!/scr/Convertor.py
!/scr/File.py
!/scr/Type_Alias.py
!/scr/main.py
!/scr/OCR_by_tesseract.py
!/scr/pdf/
!/scr/out/